# python2

torch
benepar
tensorflow
# conda install -c conda-forge records
# + whatever other libraries are asked to be installed

# python3
# pip install -U sentence-transformers
# sudo apt-get install mysql-server
mysql-connector-python
odfpy